#signup {
    max-width: 300px;
    margin: 50px auto;
    border: 2px solid green;
    border-radius: 10%;
    padding: 15px 15px;
}

.login {
	max-width: 90%;
	margin: 0 auto;
}

#projectImage {
	max-height: 400px;
	margin: auto;
}

.projectHeader {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 2px;
}

.project-overview {
	color: black;
	font-size: 2em;
}
